<% @recommends.each do |recommend| %>
  <div class="filter-node" data-filter='["<%= recommend.re_filter %>"]'>
    <div class="inner">
      <%= link_to (image_tag recommend.re_image), recommend %>
      <em><%= recommend.re_filter %></em>
        <a href="/featured/featured_01">
        <h3><%= link_to recommend.re_title, recommend %></h3>
        <p><%= link_to recommend.re_intro, recommend %></p>
        </a>
    </div>
    <% if can? :update, recommend %>
      <div class="btn clearfix admin">
        <em><%= link_to "Edit", edit_recommend_path(recommend) %></em><%= link_to "Delete", recommend_path(recommend), method: :delete, data: {confirm: "Are you sure?"}%>
      </div>
    <% end %>
  </div>
<% end %>

<div class="filter-node" data-filter='["travel"]'>
  <div class="inner">
    <a href="/featured/featured_01"><img src="https://i.pinimg.com/564x/4c/14/ae/4c14ae6547540a6dc4d51d5061c4d731.jpg" alt="" /></a>
    <em>Travel</em>
      <a href="/featured/featured_01">
      <h3>Comfortable Travel Pillow(Part.1)</h3>
      <p>I`d like to share 10 Comfortable “Travel Pillow” that will make you have a sweet dream while you traveling today.</p>
      </a>
  </div>
</div>

<div class="filter-node" data-filter='["tech"]'>
  <div class="inner">
    <a href="/featured/featured_01"><img src="https://images.unsplash.com/photo-1549490148-237260354488?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
    <em>TECH+</em>
      <a href="/featured/featured_01">
      <h3>10 Cool & Clever Finds (smarthome)</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
      </a>
  </div>
</div>

<div class="filter-node" data-filter='["tech"," vintage"]'>
  <div class="inner">
    <a href="/featured/featured_01"><img src="https://images.unsplash.com/photo-1549554164-dbf2a3ddf41f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
      <em>TECH+</em>
      <a href="/featured/featured_01">
        <h3>10 Cool & Clever Finds (smarthome)</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
      </a>
  </div>
</div>

<div class="filter-node" data-filter='["smarthome"," vintage"]'>
  <div class="inner">
    <a href="/featured/featured_01"><img src="https://images.unsplash.com/photo-1549650558-eaca848e241b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
      <em>TECH+</em>
      <a href="#n">
      <h3>10 Cool & Clever Finds(kitchen)</h3>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </a>
  </div>
</div>

<div class="filter-node" data-filter='["geeky"," vintage"]'>
  <div class="inner">
    <a href="curation_detail.html"><img src="https://images.unsplash.com/photo-1549506767-edd4ca83c7f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /></a>
      <em>TECH+</em>
      <a href="#n">
      <h3>10 Cool & Clever Finds(geeky)</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </a>
  </div>
</div>