<div class="card">
  <a href="/editor/editor_01"><h3>The standard Lorem Ipsum passage, used since the 1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
  <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, consecteturincididunt ut labore et dolore magna aliqua.</p>
  <em>Feb. 15. 2019</em>
  <div class="card_bottom">
    <a href="/editor/editor_01">See more detail</a>
    <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
  </div>
</div>

<div class="card">
  <a href="/editor/editor_01"><h3>The standard Lorem Ipsum passage, used since the 1500sThe standard </h3></a>
  <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, </p>
  <em>Feb. 15. 2019</em>
  <div class="card_bottom">
    <a href="/editor/editor_01">See more detail</a>
    <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
  </div>
</div>

<div class="card">
  <a href="/editor/editor_01"><h3>The standard Lorem Ipsum passage, used since the 1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
  <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, consecteturincididunt ut labore et dolore magna aliqua.</p>
  <em>Feb. 15. 2019</em>
  <div class="card_bottom">
    <a href="/editor/editor_01">See more detail</a>
    <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
  </div>
</div>

<div class="card">
  <a href="/editor/editor_01"><h3>used since the 1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
  <p>consecteturincididunt ut labore et dolore magna aliqua.</p>
  <em>Feb. 15. 2019</em>
  <div class="card_bottom">
    <a href="/editor/editor_01">See more detail</a>
    <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
  </div>
</div>

<div class="card">
  <a href="/editor/editor_01"><h3>1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
  <p>labore et dolore magna aliqua.</p>
  <em>Feb. 15. 2019</em>
  <div class="card_bottom">
    <a href="/editor/editor_01">See more detail</a>
    <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
  </div>
</div>

<div class="card">
  <a href="/editor/editor_01"><h3>The standard Lorem Ipsum passage, used since the 1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
  <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, consecteturincididunt ut labore et dolore magna aliqua.</p>
  <em>Feb. 15. 2019</em>
  <div class="card_bottom">
    <a href="/editor/editor_01">See more detail</a>
    <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
  </div>
</div>

<div class="card">
  <a href="/editor/editor_01"><h3>The standard Lorem Ipsum passage, used since the 1500sThe standard </h3></a>
  <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, </p>
  <em>Feb. 15. 2019</em>
  <div class="card_bottom">
    <a href="/editor/editor_01">See more detail</a>
    <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
  </div>
</div>

<div class="card">
  <a href="/editor/editor_01"><h3>The standard Lorem Ipsum passage, used since the 1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
  <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, consecteturincididunt ut labore et dolore magna aliqua.</p>
  <em>Feb. 15. 2019</em>
  <div class="card_bottom">
    <a href="/editor/editor_01">See more detail</a>
    <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
  </div>
</div>

<div class="card">
  <a href="/editor/editor_01"><h3>used since the 1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
  <p>consecteturincididunt ut labore et dolore magna aliqua.</p>
  <em>Feb. 15. 2019</em>
  <div class="card_bottom">
    <a href="/editor/editor_01">See more detail</a>
    <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
  </div>
</div>

<div class="card">
  <a href="/editor/editor_01"><h3>1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
  <p>labore et dolore magna aliqua.</p>
  <em>Feb. 15. 2019</em>
  <div class="card_bottom">
    <a href="/editor/editor_01">See more detail</a>
    <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
  </div>
</div>