<div class="layout"><!--layout-->
    
    <%= render 'posts/header' %>
    
    
    <div class="wrap">
    
      <div class="cu_sub_nav">
        <ul class="clearfix">
          <li><a href="/featured/index">Featured</a></li>
          <!--<li><a href="/gift_guide/index">Gift Guide</a></li>-->
          <li><a class="active" href="/editor/index">Editor's Pick</a></li>
          <li><a href="/blog/index">Blog</a></li>
        </ul>
      </div>
    
      <div class="editor common_layout clearfix">
        <div class="lt_cnt">
          <h2>Editor's Pick</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
        
        <div class="rt_cnt">
          <h2>We Love </h2>
          <div class="card_wrap">
            
            <div class="card">
              <a href="/editor/editor_01"><h3>The standard Lorem Ipsum passage, used since the 1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
              <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, consecteturincididunt ut labore et dolore magna aliqua.</p>
              <em>Feb. 15. 2019</em>
              <div class="card_bottom">
                <a href="/editor/editor_01">See more detail</a>
                <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
              </div>
            </div>
            
            <div class="card">
              <a href="/editor/editor_01"><h3>The standard Lorem Ipsum passage, used since the 1500sThe standard </h3></a>
              <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, </p>
              <em>Feb. 15. 2019</em>
              <div class="card_bottom">
                <a href="/editor/editor_01">See more detail</a>
                <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
              </div>
            </div>
            
            <div class="card">
              <a href="/editor/editor_01"><h3>The standard Lorem Ipsum passage, used since the 1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
              <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, consecteturincididunt ut labore et dolore magna aliqua.</p>
              <em>Feb. 15. 2019</em>
              <div class="card_bottom">
                <a href="/editor/editor_01">See more detail</a>
                <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
              </div>
            </div>
            
            <div class="card">
              <a href="/editor/editor_01"><h3>used since the 1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
              <p>consecteturincididunt ut labore et dolore magna aliqua.</p>
              <em>Feb. 15. 2019</em>
              <div class="card_bottom">
                <a href="/editor/editor_01">See more detail</a>
                <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
              </div>
            </div>
            
            <div class="card">
              <a href="/editor/editor_01"><h3>1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
              <p>labore et dolore magna aliqua.</p>
              <em>Feb. 15. 2019</em>
              <div class="card_bottom">
                <a href="/editor/editor_01">See more detail</a>
                <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
              </div>
            </div>
            
            <div class="card">
              <a href="/editor/editor_01"><h3>The standard Lorem Ipsum passage, used since the 1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
              <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, consecteturincididunt ut labore et dolore magna aliqua.</p>
              <em>Feb. 15. 2019</em>
              <div class="card_bottom">
                <a href="/editor/editor_01">See more detail</a>
                <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
              </div>
            </div>
            
            <div class="card">
              <a href="/editor/editor_01"><h3>The standard Lorem Ipsum passage, used since the 1500sThe standard </h3></a>
              <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, </p>
              <em>Feb. 15. 2019</em>
              <div class="card_bottom">
                <a href="/editor/editor_01">See more detail</a>
                <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
              </div>
            </div>
            
            <div class="card">
              <a href="/editor/editor_01"><h3>The standard Lorem Ipsum passage, used since the 1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
              <p>Lorem ipsum dolor sit amet, ipsum dolor sit amet, consecteturincididunt ut labore et dolore magna aliqua.</p>
              <em>Feb. 15. 2019</em>
              <div class="card_bottom">
                <a href="/editor/editor_01">See more detail</a>
                <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
              </div>
            </div>
            
            <div class="card">
              <a href="/editor/editor_01"><h3>used since the 1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
              <p>consecteturincididunt ut labore et dolore magna aliqua.</p>
              <em>Feb. 15. 2019</em>
              <div class="card_bottom">
                <a href="/editor/editor_01">See more detail</a>
                <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
              </div>
            </div>
            
            <div class="card">
              <a href="/editor/editor_01"><h3>1500sThe standard Lorem Ipsum passage, used since the 1500s</h3></a>
              <p>labore et dolore magna aliqua.</p>
              <em>Feb. 15. 2019</em>
              <div class="card_bottom">
                <a href="/editor/editor_01">See more detail</a>
                <img src="<%=asset_path 'direction_right.png' %>" alt="" /></a>
              </div>
            </div>
            
            
          </div><!--./card_wrap-->
        </div><!--./rt_cnt-->
      </div><!--./editor-->
    </div><!--./warp-->
  </div><!--./layout-->