<div class="layout"><!--layout-->
    
    <%= render 'posts/header' %>

    <!-- for play youtube video-->
    <div class="overlay-video">
      <div class="videoWrapperExt">
        <div class="videoWrapper">
          <div class="video_close"></div>
          <iframe id="player" src="" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>        
    </div>

    <div class="cu_wrap clearfix">
      <div class="wrap">
        
        <div class="detitle">
          <h2><span>Comfortable Travel Pillow(Part.1)</span></h2>
          <p>I`d like to share 10 Comfortable “Travel Pillow” that will make you have a sweet dream while you traveling today. Have you ever sat in an economy class seat, tossing and turning, deliriously trying to get to sleep? Knowing you need to be feeling rested when you arrive? Say goodbye to long restless airplane flights, train rides, car rides and bus rides. Now you can sleep as comfortably as you sleep in your own bed. It allows you to get deep sleep while traveling. And These are the first travel pillows that allow you to make sure you find the most comfortable position during your travels.</p>
        </div>

        <div class="cu_box clearfix">
          <div class="num">
            <p>1</p>
          </div>
          <div class="pic">
            <a target="_blank" href="https://amzn.to/2H1bCAd"><img src="https://2.bp.blogspot.com/-9tNk2zDDFvs/WfA3_wOkp6I/AAAAAAAAAeA/IJLQVhz52lMvjgIfPfef9D-DSL2UCGLfQCEwYBhgL/s640/social%2Bmedia%2Brevolution%2B%25284%2529.jpg"></a>
            <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/kCncyczzPKg">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
            </div>
          </div>
          <div class="inner">
            <strong><span>1.</span>Trtl Pillow - Neck Support Travel Pillow.</strong>
            <span>by Amazon</span>
            <p>Trtl Pillow allows you to get the best rest wherever you are. Easily attaches to your bag and is super lightweight. Intrnal support adapts to your head and neck. Scientifically proven to be better than a travel pillow. Place it behind your neck to enhance your headrest. Keep your device secure and enjoy movies hands-free.</p>
            <div class="btn clearfix">
              <em>$29.99</em><a target="_blank" href="https://amzn.to/2H1bCAd">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="cu_box clearfix">
          <div class="num">
            <p>2</p>
          </div>
          <div class="pic">
            <a target="_blank" href="https://amzn.to/2Jn9bql"><img src="https://images-na.ssl-images-amazon.com/images/I/91z%2BV-qxOCL._SX679_.jpg"></a>
            <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/v35PCUWVh2M">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
            </div>
          </div>
          <div class="inner">
            <strong><span>2.</span>BCOZZY - Chin Supporting Travel Pillow.</strong>
            <span>by Amazon</span>
            <p>THE BCOZZY PILLOW is the only travel pillow that stops the head from falling forward; the patented neck pillow wraps gently around the neck and provides SUPER SOFT AND BEST SUPPORT simultaneously to the head, neck, and chin.</p>
            <div class="btn clearfix">
              <em>$29.97</em><a target="_blank" href="https://amzn.to/2Jn9bql">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="cu_box clearfix">
          <div class="num">
            <p>3</p>
          </div>
          <div class="pic">
            <a target="_blank" href="https://amzn.to/2qbbMux"><img src="https://images-na.ssl-images-amazon.com/images/I/51YvuvOx91L.jpg" alt="FaceCradle - Adjustable Travel Pillow."></a>
            <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/OFYfhzbq5_8">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
            </div>
          </div>
          <div class="inner">
            <strong><span>3.</span>FaceCradle - Adjustable Travel Pillow.</strong>
            <span>by Amazon</span>
            <p>Upgrade to sleeping class! Most travel pillows attempt to give you comfort with your head upright but this is not how you sleep at night. FaceCradle allows you supported access to the full 180 degrees forward of your seat to get your head more horizontal. This is the way you normally sleep and it allows you to toss and turn in hundreds of different positions so you can find your sweet spot, replicating how you sleep each night.</p>
            <div class="btn clearfix">
              <em>$49.99</em><a target="_blank" href="https://amzn.to/2qbbMux">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="cu_box clearfix">
          <div class="num">
            <p>4</p>
          </div>
          <div class="pic">
            <a target="_blank" href="https://amzn.to/2qcLRCR"><img src="https://4.bp.blogspot.com/-VKqKVoclFm0/WfBByZRc9OI/AAAAAAAAAeo/OVKhVFkC0L0VSkL2wsBpLpaoBHwr_qPPwCLcBGAs/s640/social%2Bmedia%2Brevolution%2B%25281%2529.jpg" alt="Huzi Infinity Pillow."></a>
            <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/yw2hrRlhD8Q">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
            </div>
          </div>
          <div class="inner">
            <strong><span>4.</span>Huzi Infinity Pillow.</strong>
            <span>by Amazon</span>
            <p>Unlike any other travel pillows, the Infinity Pillow is so comfortable and versatile that you’d also want to use at home. Neck pillow, back support, window pillow, desk pillow, eye mask, noise canceling pillow. You’ve got them all. Twist, wrap and bundle with its versatile Möbius shape and transform it to fit the needs of the space you’re in, whether it’s the window, aisle or middle seat, or at home with the whole couch to lounge on.</p>
            <div class="btn clearfix">
              <em>$39.99</em><a target="_blank" href="https://amzn.to/2qcLRCR">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="cu_box clearfix">
          <div class="num">
            <p>5</p>
          </div>
          <div class="pic">
            <a target="_blank" href="https://amzn.to/2GK4wwY"><img src="https://2.bp.blogspot.com/-iSbylFIotq0/WfBJayn09KI/AAAAAAAAAfE/AWkHxPCW7ZMtH9MtAcAJ7C9qnivvEBQGgCLcBGAs/s640/social%2Bmedia%2Brevolution%2B%25283%2529.jpg" alt="Travelrest - Ultimate Travel Pillow"></a>
            <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/QiPPfUnSbxA">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
            </div>
          </div>
          <div class="inner">
            <strong><span>5.</span>Travelrest - Ultimate Travel Pillow.</strong>
            <span>by Amazon</span>
            <p>A soft and washable plush velour cover with memory foam only where you rest your head. All the comfort of memory foam without the bulk of a 100% memory foam pillow Adds a new dimension of comfort to the Travelrest travel pillow. Easily rolls up with pillow and attaches to outside of luggage for easy access.</p>
            <div class="btn clearfix">
              <em>$23.95</em><a target="_blank" href="https://amzn.to/2GK4wwY">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="cu_box clearfix">
          <div class="num">
            <p>6</p>
          </div>
          <div class="pic">
             <a target="_blank" href="https://amzn.to/2qabN1Z"><img src="https://2.bp.blogspot.com/-QD4P4iRRISs/WfBEWyRqy8I/AAAAAAAAAe0/RqsyLPmRwQoczIU5u_QXqelCPKVViXMIgCLcBGAs/s640/social%2Bmedia%2Brevolution%2B%25282%2529.jpg" alt="Purefly Soft Velvet Inflatable Travel Neck Pillow."></a>
            <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/iEyHAmnugSM">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
            </div>
          </div>
          <div class="inner">
            <strong><span>6.</span>Purefly Soft Velvet Inflatable Travel Neck Pillow.</strong>
            <span>by Amazon</span>
            <p>Have you ever heard of a travel pillow that inflates with a button? 
              It'strue!!Simply inflate the pillow by pressing repeatedly on the low-profile built in push-button until you reach your desired inflation in less than a minute without removing it from your neck.You don't have to fill the air in it by mouth that keeps you away from bacteria.</p>
            <div class="btn clearfix">
              <em>$15.99</em><a target="_blank" href="https://amzn.to/2qabN1Z">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="cu_box clearfix">
          <div class="num">
            <p>7</p>
          </div>
          <div class="pic">
            <a target="_blank" href="https://amzn.to/2IuPOKz"><img src="https://2.bp.blogspot.com/-iILxOI2xd0E/WfBohmYXevI/AAAAAAAAAfs/pQoVMr-_67wa5p_XacjCdQUGtXxq_AW6QCLcBGAs/s640/social%2Bmedia%2Brevolution%2B%25282%2529.jpg" alt="OSTRICHPILLOW LIGHT Travel Pillow."></a>
            <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/8OdQcBKpxDc">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
            </div>
          </div>
          <div class="inner">
            <strong><span>7.</span>OSTRICHPILLOW LIGHT Travel Pillow.</strong>
            <span>by Amazon</span>
            <p>This pillow is lightweight, can be worn as a scarf on cold days and when in drafty air-conditioned places as well. Perfect to drift away into dreamland. Its unique design lends itself to be portable, comfortable, and totally adjustable.</p>
            <div class="btn clearfix">
              <em>$45.00</em><a target="_blank" href="https://amzn.to/2IuPOKz">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="cu_box clearfix">
          <div class="num">
            <p>8</p>
          </div>
          <div class="pic">
            <a target="_blank" href="https://amzn.to/2Jpirde"><img src="https://1.bp.blogspot.com/-wnTcD4rQjkM/WfB30l92QCI/AAAAAAAAAgs/slY6CTQQoFEPyFdFy-sBDwIwJNV2yI51gCLcBGAs/s640/tzb9rftybynsbeamdqcb.webp" alt="LANGRIA Astronaut Memory Foam Travel Pillow."></a>
            <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/leS_TcZjbF0">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
            </div>
          </div>
          <div class="inner">
            <strong><span>8.</span>LANGRIA Astronaut Memory Foam Travel Pillow.</strong>
            <span>by Amazon</span>
            <p>Designed by LANGRIA for all travelers that are about to face a long-haul trip. This travel pillow uses 100% supportive memory foam filling and eyelet fabric cover, which is skin-friendly, breathable and machine washable. It has a unique shape with a hood to ensure a comfortable deep sleep experience and a strap to adjust the pillow to your neck size!</p>
            <div class="btn clearfix">
              <em>$26.99</em><a target="_blank" href="https://amzn.to/2Jpirde">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="cu_box clearfix">
          <div class="num">
            <p>9</p>
          </div>
          <div class="pic">
            <a target="_blank" href="https://amzn.to/2EpYQWA"><img src="https://images-na.ssl-images-amazon.com/images/I/41bDi7rDarL.jpg"></a>
            <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/9qyHL1HTst4">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
            </div>
          </div>
          <div class="inner">
            <strong><span>9.</span>Cabeau Evolution Memory Foam Travel Pillow</strong>
            <span>by Amazon</span>
            <p>Whether you’re driving on a road trip or flying on an airplane to your next vacation destination, the Cabeau Evolution travel pillow will allow the most comfort and stability on the plane or in the car for the entirety of your travels.</p>
            <div class="btn clearfix">
              <em>$35.00</em><a target="_blank" href="https://amzn.to/2EpYQWA">Buy Now</a>
            </div>
          </div>
        </div>

        <!--
        <div class="cu_box clearfix">
          <div class="num">
            <p>1</p>
          </div>
          <div class="pic">
            <a target="_blank" href="product_link"><img src="image_link"></a>
            <div class="js-overlay-start start" data-url="youtube_link">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
            </div>
          </div>
          <div class="inner">
            <strong><span>1.</span>sub_title</strong>
            <span>by source</span>
            <p>description</p>
            <div class="btn clearfix">
              <em>$_price</em><a target="_blank" href="product_link">Buy Now</a>
            </div>
          </div>
        </div>
        -->
        
        
      </div><!--./wrap-->
    </div><!--./cu_wrap-->
    
    <!-- Loading 
    <div class="loading">
      <h1 class="loading-title">loading</h1>
      <div class="loading-progress"></div>
    </div>
    -->

    
    
</div><!--./layout-->