<div class="layout"><!--layout-->
    
  <%= render 'posts/header' %>
    
  <div class="wrap">
    
      <div class="cu_sub_nav">
        <ul class="clearfix">
          <li><a class="active" href="/featured/index">Featured</a></li>
          <!--<li><a href="/gift_guide/index">Gift Guide</a></li>-->
          <li><a href="/editor/index">Editor's Pick</a></li>
          <li><a href="/blog/index">Blog</a></li>
        </ul>
      </div>

      <div class="featured common_layout clearfix">
      
        <div class="lt_cnt deal">
    			<h2>Featured</h2>
    			<div class="note">
    		  	<ul>
    		  	  <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
    		  	</ul>
    			</div>
    			<button class="gnb_open"><img src="<%=asset_path 'open_black.png' %>" alt="모바일 메뉴 열기" /></button>
    			<div class="sm_pc">
    			  
    				<!--<div class="search_bar">-->
    				<!--	<input type="text" class="form-control" placeholder="Search...">-->
    				<!--	<img src="<%=asset_path 'search.png' %>" alt="" />-->
    				<!--</div>-->

    				<ul class="filter-search">
    				  <li><button class="filter-button btn btn-md btn-primary" data-filter="*">All Featured</button></li>
    				  <li><button class="filter-button btn btn-md white-text" data-filter="tech">Tech+</button></li>
    				  <li><button class="filter-button btn btn-md" data-filter="smarthome">Smart Home</button></li>
    				  <li><button class="filter-button btn btn-md" data-filter="kitchen">Kitchen&Home</button></li>
    				  <li><button class="filter-button btn btn-md white-text" data-filter="fashion">Fashion</button></li>
    				  <li><button class="filter-button btn btn-md white-text" data-filter="geeky">Geeky</button></li>
    				</ul>
    			</div>
    			
    			<div class="sm_mobile">
    				<ul class="filter-search">
    				  <li><button class="filter-button btn btn-md btn-primary" data-filter="*">All Featured</button></li>
    				  <li><button class="filter-button btn btn-md white-text" data-filter="tech">Tech+</button></li>
    				  <li><button class="filter-button btn btn-md" data-filter="smarthome">Smart Home</button></li>
    				  <li><button class="filter-button btn btn-md" data-filter="kitchen">Kitchen&Home</button></li>
    				  <li><button class="filter-button btn btn-md white-text" data-filter="fashion">Fashion</button></li>
    				  <li><button class="filter-button btn btn-md white-text" data-filter="geeky">Geeky</button></li>
    				</ul>
    				<button class="gnb_close"><img src="<%=asset_path 'close_white.png' %>" alt="모바일 메뉴 닫기" />
    			</div>
  			
  	   	</div><!--./lt_cnt-->
  		  <div class="gnb_kbg"></div>
				
    		<div class="rt_cnt">
    			<h2>We Love </h2>
    			
          <!--
    			<div class="gift_guide clearfix">
    				<a href="/gift_guide/gift_guide_01">
    					<div class="gift_box card_01">
    						<div class="inner">
    							<p>FOR <span>HIM<span></p>
    						</div>
    					</div>
    				</a>
    			
    				<a href="/gift_guide/gift_guide_01">
    					<div class="gift_box card_02">
    						<div class="inner">
    							<p>FOR <span>HER<span></p>
    						</div>
    					</div>
    				</a>
    			
    				<a href="/gift_guide/gift_guide_01">
    					<div class="gift_box card_03">
    						<div class="inner">
    							<p>FOR <span>KIDS<span></p>
    						</div>
    					</div>
    				</a>
    			</div>
    			-->
			
    			<div class="featured_left">
    				<div class="filter-group clearfix">
    				
    					<%= render 'featured/body_left' %>
    					
    				</div><!--./filter-group-->
    			</div><!--./featured_left-->
    			
    			<div class="featured_right">
    				<div class="filter-group clearfix">
    				
    					<%= render 'featured/body_right' %>

    				</div><!--./filter-group-->		
    			</div><!--./featured_right-->
    		</div><!--./rt_cnt-->
      </div><!--./featured-->
  </div><!--./wrap-->
</div><!--./layout-->
<script> 
  <%= render(:partial => 'featured', :handlers => [:erb], :formats => [:js]) %>
</script>




