<div class="layout"><!--layout-->

  <%= render 'posts/header' %>
    
  <!-- for play youtube video-->
  <div class="overlay-video">
    <div class="videoWrapperExt">
      <div class="videoWrapper">
        <div class="video_close"></div>
        <iframe id="player" src="" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>        
   </div>
  
  <div class="gadgets_wrapper">
    <div class="wrap">
      <main class="clearfix">
        
        <button class="gnb_open"><img src="<%=asset_path 'open_white.png' %>" alt="open" /></button>
        <button class="gnb_open_b"><img src="<%=asset_path 'open_black.png' %>" alt="open" /></button>
          <section id="filter">
            <div class="ui-group">
              <label>Category</label>
              <ul>
                <li><%= link_to "All Gadgets", root_path %></li>
                <% Category.all.each do |category| %>
                  <li><%= link_to category.name, gadgets_path(category: category.name) %></li>
                <% end %>
                <li><%= link_to "Add New Gadgets", new_gadget_path %></li>
              </ul>
            </div>
          </section>
          <div class="gnb_kbg"></div>
          
          <div class="on_gadgets">
              <div class="card_wrap clearfix">

                <% @gadgets.each do |gadget| %>
                  <div class="card with-photo">
                    <div class="card-header">
                     <a target="_blank" href="<%= gadget.gad_link %>"><img src="<%= gadget.gad_img %>" alt=""></a>
                    </div>
                    
                    <section class="card-body">
                      <nav class="card-nav">
                        <button class="nav-dots">
                        <span class="nav-icon icon-one"></span>
                        <span class="nav-icon icon-two"></span>
                        <span class="nav-icon icon-three"></span>
                        </button>
                        <ul>
                        <li><a href="">Link One</a></li>
                        <li><a href="">Link Two</a></li>
                        <li><a href="">Link Three</a></li>
                        </ul>
                      </nav>
                     
                      <div class="js-overlay-start start" data-url= "<%= gadget.gad_youtube %>">
                        <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
                      </div>
                    
                      <h4><a target="_blank" href="<%= gadget.gad_link %>"><%= gadget.gad_title %></a></h4>
                      <p><%= gadget.gad_intro %></p>
                      <div class="btn clearfix">
                        <em>$<%= gadget.gad_price %></em><a target="_blank" href="<%= gadget.gad_link %>">Buy Now</a>
                      </div>              
                    </section>
                  </div>
                <% end %>
                
                <!--
                <div class="card with-photo">
                  <div class="card-header">
                  <img src="https://images.unsplash.com/photo-1547479117-da9abbff3fa0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                  </div>
                  
                  <section class="card-body">
                    <nav class="card-nav">
                      <button class="nav-dots">
                      <span class="nav-icon icon-one"></span>
                      <span class="nav-icon icon-two"></span>
                      <span class="nav-icon icon-three"></span>
                      </button>
                      <ul>
                      <li><a href="">Link One</a></li>
                      <li><a href="">Link Two</a></li>
                      <li><a href="">Link Three</a></li>
                      </ul>
                    </nav>
                    
                    <div class="js-overlay-start start" data-url= "https://www.youtube.com/embed/NEdhfdmoPnM?rel=0&showinfo=0&autoplay=1">
                      <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
                    </div>
                    
                    <h4>This is a Headline</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas libero sit amet quam egestas semper.</p>
                    <div class="card_btn">
                      <a href="">View details</a>
                    </div>
                  </section>
                </div>
                
                <div class="card with-photo">
                  <div class="card-header">
                  <img src="https://images.unsplash.com/photo-1529910260185-8b793acb7ce0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                  </div>
                  
                  <section class="card-body">
                  <nav class="card-nav">
                    <button class="nav-dots">
                    <span class="nav-icon icon-one"></span>
                    <span class="nav-icon icon-two"></span>
                    <span class="nav-icon icon-three"></span>
                    </button>
                    <ul>
                    <li><a href="">Link One</a></li>
                    <li><a href="">Link Two</a></li>
                    <li><a href="">Link Three</a></li>
                    </ul>
                  </nav>
                  
                  <div class="js-overlay-start start" data-url= "https://www.youtube.com/embed/NEdhfdmoPnM?rel=0&showinfo=0&autoplay=1">
                    <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
                  </div>
                  
                  <h4>This is a Headline</h4>
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas libero sit amet quam egestas semper.</p>
                  <a href="">View details</a>
                  </section>
                </div>
                
                <div class="card with-photo">
                  <div class="card-header">
                  <img src="https://images.unsplash.com/photo-1511385278-5432b00777ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                  </div>
                  
                  <section class="card-body">
                  <nav class="card-nav">
                    <button class="nav-dots">
                    <span class="nav-icon icon-one"></span>
                    <span class="nav-icon icon-two"></span>
                    <span class="nav-icon icon-three"></span>
                    </button>
                    <ul>
                    <li><a href="">Link One</a></li>
                    <li><a href="">Link Two</a></li>
                    <li><a href="">Link Three</a></li>
                    </ul>
                  </nav>
                  
                  <div class="js-overlay-start start" data-url= "https://www.youtube.com/embed/NEdhfdmoPnM?rel=0&showinfo=0&autoplay=1">
                    <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
                  </div>
                  
                  <h4>This is a Headline</h4>
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas libero sit amet quam egestas semper.</p>
                  <a href="">View details</a>
                  </section>
                </div>
                
                <div class="card with-photo">
                  <div class="card-header">
                  <img src="https://images.unsplash.com/photo-1534866845581-63b36900fca1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                  </div>
                  
                  <section class="card-body">
                  <nav class="card-nav">
                    <button class="nav-dots">
                    <span class="nav-icon icon-one"></span>
                    <span class="nav-icon icon-two"></span>
                    <span class="nav-icon icon-three"></span>
                    </button>
                    <ul>
                    <li><a href="">Link One</a></li>
                    <li><a href="">Link Two</a></li>
                    <li><a href="">Link Three</a></li>
                    </ul>
                  </nav>
                  
                  <div class="js-overlay-start start" data-url= "https://www.youtube.com/embed/NEdhfdmoPnM?rel=0&showinfo=0&autoplay=1">
                    <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
                  </div>
                  
                  <h4>This is a Headline</h4>
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas libero sit amet quam egestas semper.</p>
                  <a href="">View details</a>
                  </section>
                </div>
                
                <div class="card with-photo">
                  <div class="card-header">
                  <img src="https://images.unsplash.com/photo-1527754525882-563050c6618c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                  </div>
                  
                  <section class="card-body">
                  <nav class="card-nav">
                    <button class="nav-dots">
                    <span class="nav-icon icon-one"></span>
                    <span class="nav-icon icon-two"></span>
                    <span class="nav-icon icon-three"></span>
                    </button>
                    <ul>
                    <li><a href="">Link One</a></li>
                    <li><a href="">Link Two</a></li>
                    <li><a href="">Link Three</a></li>
                    </ul>
                  </nav>
                  
                  <div class="js-overlay-start start" data-url= "https://www.youtube.com/embed/NEdhfdmoPnM?rel=0&showinfo=0&autoplay=1">
                    <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
                  </div>
                
                  <h4>This is a Headline</h4>
                  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas libero sit amet quam egestas semper.</p>
                  <a href="">View details</a>
                  </section>
                </div>
                
              </div>
              -->
          </div>

        </main>
      </div><!--./wrap-->
  </div><!--./gadgets_wrapper-->
</div><!--./layout-->