<div class="layout"><!--layout-->

  <%= render 'posts/header' %>
    
  <!-- for play youtube video-->
  <div class="overlay-video">
    <div class="videoWrapperExt">
      <div class="videoWrapper">
        <div class="video_close"></div>
        <iframe id="player" src="" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>        
   </div>
  
  <div class="gadgets_wrapper">
    <div class="wrap">
      <main class="clearfix">
        
          <button class="gnb_open"><img src="<%=asset_path 'open_black.png' %>" alt="open" /></button>
          <button class="gnb_open_b"><img src="<%=asset_path 'open_black.png' %>" alt="open" /></button>
          <section id="filter">
            <div class="ui-group">
              <label>Category</label>
              <ul>
                <li><%= link_to "All Gadgets", gadgets_path %></li>
                <% Category.all.each do |category| %>
                  <li><%= link_to category.name, gadgets_path(category: category.name) %></li>
                <% end %>               
                <% if can? :update, @gadgets %>
                  <li><%= link_to "Add New Gadgets", new_gadget_path %></li>
                  <% if user_signed_in? %>
                    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                  <% else %>
                   <li><%= link_to "Log in", new_user_session_path %></li>
                   <!--<li><%= link_to "Sign up", new_user_registration_path %></li>-->
                  <% end %>
                <% end %>
              </ul>
              <button class="gnb_close"><img src="<%=asset_path 'close_white.png' %>" alt="close menu" /></button>
            </div>
          </section>
          <div class="gnb_kbg"></div>

          <div class="on_gadgets">
            
              <div class="current_category">
                <% if params[:category].present? %>
                  <p><%= params[:category] %></h2>
                <% else %>
                  <p>all gadgets</p>
                <% end %>
              </div>
              
              <div class="card_wrap clearfix" >
                <% @gadgets.each do |gadget| %>
                  <div class="card with-photo">
                    <div class="card-header">
                     <a target="_blank" href="<%= gadget.gad_link %>"><img src="<%= gadget.gad_img %>" alt=""></a>
                    </div>
                    
                    <section class="card-body">
                      <div class="js-overlay-start start" data-url= "<%= gadget.gad_youtube %>">
                        <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
                      </div>

                     
                      <h4><a target="_blank" href="<%= gadget.gad_link %>"><%= gadget.gad_title %></a></h4>
                      <p><%= gadget.gad_intro %></p>
                      <div class="btn clearfix">
                        <em>$<%= gadget.gad_price %></em><a target="_blank" href="<%= gadget.gad_link %>">Buy Now</a>
                      </div>              
                    </section>
                  </div>
                <% end %>
             </div><!--./card_wrap-->
         </div><!--./on_gadgets-->
        </main>
      </div><!--./wrap-->
  </div><!--./gadgets_wrapper-->
</div><!--./layout-->
<script>
  <%= render(:partial => 'gadgets', :handlers => [:erb], :formats => [:js]) %>
</script>