<header>
  <div class="wrap">
    <button class="gnb_open2"><img src="<%=asset_path 'more_black.png' %>" alt="open mobile menu" /></button>
    <div class="gnb_pc clearfix">
      <a href="/"><img class="oh_logo" src="<%=asset_path 'oh_logo.jpg' %>" alt="ohigottabuythis" /></a>

      <div class="visual">
        <h1><a href="/"><img src="/assets/visual_01.jpg" alt="ohigottabuythis" /></a></h1>
      </div>

      <ul class="clearfix">
        <li><a href="/gadgets/index">CATEGORY<span>,</span></a></li>
        <li><a href="/recommends/">FEATURED<span>,</span></a></li>
        <li><a href="/deals/promo_codes">DEALS <em>of Amazon</em></a></li>
      </ul>      
    </div>
    
    <div class="gnb_m">
      
      <div class="membership">
        <ul class="clearfix">
          <% if can? :update, @gadget %>
            <% if user_signed_in? %>
             <p>Hello, <%= current_user.name %><p>
             <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
            <% else %>
             <li><%= link_to "SIGN IN", new_user_session_path %></li>
             <li><%= link_to "SIGN UP", new_user_registration_path %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      
      <ul class="clearfix">
        <li><a href="/">HOME<span>,</span></a></li> 
        <li><a href="/gadgets/index">CATEGORY<span>,</span></a></li>
        <li><a href="/recommends/">FEATURED<span>,</span></a></li>
        <li><a href="/deals/promo_codes">DEALS <em>of Amazon</em></a></li>
      </ul>
      <button class="gnb_close"><img src="<%=asset_path 'close_white.png' %>" alt="모바일 메뉴 닫기" /></button>
      
    </div><!--./gnb_m-->
  </div><!--./wrap-->
</header>
