<div class="layout"><!--layout-->
    
    <%= render 'header' %>
    
    <!-- for play youtube video-->
    <div class="overlay-video">
      <div class="videoWrapperExt">
        <div class="videoWrapper">
          <div class="video_close"></div>
          <iframe id="player" src="" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>        
    </div>

    <div class="gadgets">
      <div class="wrap">
        
        <div class="card_wrap clearfix">
          <% @gadgets.each do |gadget| %>
            <div class="card with-photo">
              <div class="card-header">
               <a target="_blank" href="<%= gadget.gad_link %>"><img src="<%= gadget.gad_img %>" alt=""></a>
              </div>
              
              <section class="card-body">
                
                <% if gadget.gad_youtube.present? %>
                  <div class="js-overlay-start start" data-url= "<%= gadget.gad_youtube %>">
                    <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
                  </div>
                <% end %>

                <h4><a target="_blank" href="<%= gadget.gad_link %>"><%= gadget.gad_title %></a></h4>
                <p><%= gadget.gad_intro %></p>
                <div class="btn clearfix">
                  <em>$<%= gadget.gad_price %></em><a target="_blank" href="<%= gadget.gad_link %>">Buy Now</a>
                </div>
                <% if can? :update, gadget %>
                  <div class="btn clearfix admin">
                    <em><%= link_to "Edit", edit_gadget_path(gadget) %></em><%= link_to "Delete", gadget_path(gadget), method: :delete, data: {confirm: "Are you sure?"}%>
                  </div>
                <% end %>
                
              </section>
            </div>
          <% end %>
        </div><!--./card_wrap-->

    </div><!--./wrap-->
  </div><!--./gadgets-->
</div><!--./layout-->

     

<script>
  <%= render(:partial => 'posts', :handlers => [:erb], :formats => [:js]) %>
</script>