<div class="layout"><!--layout-->

    <%= render 'header' %>
    
    <!-- for play youtube video-->
    <div class="overlay-video">
      <div class="videoWrapperExt">
        <div class="videoWrapper">
          <div class="video_close"></div>
          <iframe id="player" src="" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>        
    </div>
  
    <div class="gadgets">
      <div class="wrap">
        <div class="card_wrap clearfix">
        
          <% @gadgets.each do |gadget| %>
            <div class="card with-photo">
              <div class="card-header">
               <a target="_blank" href="<%= gadget.gad_link %>"><img src="<%= gadget.gad_img %>" alt=""></a>
              </div>
              
              <section class="card-body">
                <nav class="card-nav">
                  <button class="nav-dots">
                  <span class="nav-icon icon-one"></span>
                  <span class="nav-icon icon-two"></span>
                  <span class="nav-icon icon-three"></span>
                  </button>
                  <ul>
                  <li><a href="">Link One</a></li>
                  <li><a href="">Link Two</a></li>
                  <li><a href="">Link Three</a></li>
                  </ul>
                </nav>
               
                <div class="js-overlay-start start" data-url= "<%= gadget.gad_youtube %>">
                  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
                </div>
              
                <h4><a target="_blank" href="<%= gadget.gad_link %>"><%= gadget.gad_title %></a></h4>
                <p><%= gadget.gad_intro %></p>
                <div class="btn clearfix">
                  <em>$<%= gadget.gad_price %></em><a target="_blank" href="<%= gadget.gad_link %>">Buy Now</a>
                </div>
                <div class="admin">
                  <%= link_to "Edit", edit_gadget_path(gadget) %>
                  <%= link_to "Delete", gadget_path(gadget), method: :delete, data: {confirm: "Are you sure?"}%>
                </div>              
              </section>
            </div>
          <% end %>
          
          <div class="card with-photo">
            <div class="card-header">
            <img src="https://images.unsplash.com/photo-1547479117-da9abbff3fa0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            </div>
            
            <section class="card-body">
            <nav class="card-nav">
              <button class="nav-dots">
              <span class="nav-icon icon-one"></span>
              <span class="nav-icon icon-two"></span>
              <span class="nav-icon icon-three"></span>
              </button>
              <ul>
              <li><a href="">Link One</a></li>
              <li><a href="">Link Two</a></li>
              <li><a href="">Link Three</a></li>
              </ul>
            </nav>
            
            <div class="js-overlay-start start" data-url= "https://www.youtube.com/embed/NEdhfdmoPnM?rel=0&showinfo=0&autoplay=1">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
            </div>
            
            <h4>This is a Headline</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas libero sit amet quam egestas semper.</p>
            <div class="btn clearfix">
              <em>$100.00</em><a href="#n">Buy Now</a>
            </div>
            </section>
          </div>
          
          <div class="card with-photo">
            <div class="card-header">
            <img src="https://images.unsplash.com/photo-1529910260185-8b793acb7ce0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            </div>
            
            <section class="card-body">
            <nav class="card-nav">
              <button class="nav-dots">
              <span class="nav-icon icon-one"></span>
              <span class="nav-icon icon-two"></span>
              <span class="nav-icon icon-three"></span>
              </button>
              <ul>
              <li><a href="">Link One</a></li>
              <li><a href="">Link Two</a></li>
              <li><a href="">Link Three</a></li>
              </ul>
            </nav>
            
            <div class="js-overlay-start start" data-url= "https://www.youtube.com/embed/NEdhfdmoPnM?rel=0&showinfo=0&autoplay=1">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
            </div>
            
            <h4>This is a Headline</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas libero sit amet quam egestas semper.</p>
            <a href="">View details</a>
            </section>
          </div>
          
          <div class="card with-photo">
            <div class="card-header">
            <img src="https://images.unsplash.com/photo-1511385278-5432b00777ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            </div>
            
            <section class="card-body">
            <nav class="card-nav">
              <button class="nav-dots">
              <span class="nav-icon icon-one"></span>
              <span class="nav-icon icon-two"></span>
              <span class="nav-icon icon-three"></span>
              </button>
              <ul>
              <li><a href="">Link One</a></li>
              <li><a href="">Link Two</a></li>
              <li><a href="">Link Three</a></li>
              </ul>
            </nav>
            
            <div class="js-overlay-start start" data-url= "https://www.youtube.com/embed/NEdhfdmoPnM?rel=0&showinfo=0&autoplay=1">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
            </div>
            
            <h4>This is a Headline</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas libero sit amet quam egestas semper.</p>
            <a href="">View details</a>
            </section>
          </div>
          
          <div class="card with-photo">
            <div class="card-header">
            <img src="https://images.unsplash.com/photo-1534866845581-63b36900fca1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            </div>
            
            <section class="card-body">
            <nav class="card-nav">
              <button class="nav-dots">
              <span class="nav-icon icon-one"></span>
              <span class="nav-icon icon-two"></span>
              <span class="nav-icon icon-three"></span>
              </button>
              <ul>
              <li><a href="">Link One</a></li>
              <li><a href="">Link Two</a></li>
              <li><a href="">Link Three</a></li>
              </ul>
            </nav>
            
            <div class="js-overlay-start start" data-url= "https://www.youtube.com/embed/NEdhfdmoPnM?rel=0&showinfo=0&autoplay=1">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
            </div>
            
            <h4>This is a Headline</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas libero sit amet quam egestas semper.</p>
            <a href="">View details</a>
            </section>
          </div>
          
          <div class="card with-photo">
            <div class="card-header">
            <img src="https://images.unsplash.com/photo-1527754525882-563050c6618c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            </div>
            
            <section class="card-body">
            <nav class="card-nav">
              <button class="nav-dots">
              <span class="nav-icon icon-one"></span>
              <span class="nav-icon icon-two"></span>
              <span class="nav-icon icon-three"></span>
              </button>
              <ul>
              <li><a href="">Link One</a></li>
              <li><a href="">Link Two</a></li>
              <li><a href="">Link Three</a></li>
              </ul>
            </nav>
            
            <div class="js-overlay-start start" data-url= "https://www.youtube.com/embed/NEdhfdmoPnM?rel=0&showinfo=0&autoplay=1">
              <button><img src="<%=asset_path 'youtube_02.png' %>" alt="" /></button>
            </div>
          
            <h4>This is a Headline</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas libero sit amet quam egestas semper.</p>
            <a href="">View details</a>
            </section>
          </div>
          
        </div>

      </div><!--./wrap-->
    </div><!--./gadgets-->
  </div><!--./layout-->